<footer class="footer">
	<small>
		Super Fresh Bakery by Super Fresh Studios
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>